/* This sheet is specifically for all content within the iFrame. */
/* Cheers to you for reading; I hope you learn something new!! - love, salty */
/* This plops the scanline overlay across the frame - Shoutout to kidwithtthechemicalz.neocities.org for pieces of this class! I love their website so much. */
body::before {
  content: "";
  background-image: url(img/bg-overlay-scan.png);
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .075;
  pointer-events: none;
}
body {
  font-size: 1rem;
}

/* This is all the stuff ya see. I know the "frame-" part seems unnecessary, but it helped me stay organized and remember which stylesheet I'm working in. */
main {
  width: 100%;
  padding: 0;
}
main button {
  font-family: '04b', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  background-color: var(--slugblack);
  color: var(--sluggreen);
  border: 2px groove var(--slugblue);
  box-shadow: 0 0 1px 1px rgba(185, 250, 255, 0.25);
  border-radius: 2px;
  padding: 0 5px;
  animation: glow-text 3s ease-in-out infinite;
  -moz-animation: glow-text 3s ease-in-out infinite;
  -webkit-animation: glow-text 3s ease-in-out infinite;
}
main button:hover {
  animation: pause;
  -moz-animation: pause;
  -webkit-animation: pause;
  color: yellow;
  scale: 1.05;
}
.frame-content {
  background-color: var(--slugblack);
  padding: 44px 42px 22px 45px;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}
.frame-content b {
  color: var(--sluggreen);
  font-weight: 500;
  text-transform: uppercase;
}
.frame-content a {
  font-family: 'sh-pinscher', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: var(--slugblue);
  animation: glow-text-blue 3s infinite;
  -moz-animation: glow-text-blue 3s  infinite;
  -webkit-animation: glow-text-blue 3s infinite;
  text-transform: uppercase;
}
.frame-content a:hover, .big-link a:hover {
  color: var(--slugblue-sh);
  text-shadow: 0 0 5px pink;
  animation: pause;
  -moz-animation: pause;
  -webkit-animation: pause;
}
.big-link a {
  font-family: '04b', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: var(--slugblue);
  animation: glow-text-blue 3s infinite;
  -moz-animation: glow-text-blue 3s  infinite;
  -webkit-animation: glow-text-blue 3s infinite;
  text-transform: uppercase;
  font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: '04b', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--slugyellow);
  text-shadow: var(--slugyellow-sh) 2px 2px;
  animation: glow-h 3s infinite;
  -moz-animation: glow-h 3s  infinite;
  -webkit-animation: glow-h 3s infinite;
  padding: 0;
  margin: 0;
}
.frame-content h1 {
  font-size: 2.25rem;
  margin-top: 0.5%;
  margin-bottom: 5px;
}
.frame-content h2 {font-size: 2rem;}
.frame-content h3 {font-size: 1.55rem;}
.frame-content h4, .frame-content h5, .frame-content h6 {font-size: 1.25rem;}
.frame-content hr {
  border: outset 2px var(--slugyellow);
  animation: glow-hr 2.5s ease-in-out infinite;
  border-radius: 1px;
  opacity: .75;
  margin: 10px 0;
}
.frame-content p, .frame-content article, .frame-content section {
  font-family: 'sh-pinscher', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--slugyellow);
  font-size: 1.2rem;
  opacity: .9;
  margin: 0;
  padding: 0;
  animation: glow-p 3s infinite;
  -moz-animation: glow-p 3s  infinite;
  -webkit-animation: glow-p 3s infinite;
}
.frame-content ul, .frame-content li {
  list-style-type: none;
  font-family: 'sh-pinscher', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--slugyellow);
  font-size: 1.2rem;
  opacity: .9;
  margin: 0 15px;
  animation: glow-p 3s infinite;
  -moz-animation: glow-p 3s  infinite;
  -webkit-animation: glow-p 3s infinite;
}
/* for big lists */
.frame-big-list > .flex-nowrap h4 {width: 25%;}
.frame-big-list > .flex-nowrap p {width: 75%;text-align: justify;}

 /* Text Alignment */
.center-text {text-align: center;}
.justify-text {text-align: justify;}
.right-align-text {text-align: right;}
.left-align-text {text-align: left;}

/* Footer (just the 'last updated' bit on each page) */
.last-update p {
  text-align: center;
  font-size: 1rem;
  color: var(--slugyellow-sh);
  margin-bottom: 5px;
}

/* Flexin' the flex boxes - I am not really sure if this is the best method to accomplish my layout, but it's what works best for my HTML workflow. I combine the different classes for different DIVs depending on their intended function/appearance. For me, this is far less headache than making esoteric flex item classes for every single little thing on every page. */
.flex-wrap-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.flex-wrap-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flex-col {flex-direction: column;}
.flex-row {flex-direction: row;}
.flex-wrap-row hr, .flex-wrap-col hr {width: 100%;}
.flex-even-hz {justify-content: space-evenly;}
.flex-even-vert {align-content: space-evenly;}
.flex-around-hz {justify-content: space-around;}
.flex-btw-hz {justify-content: space-between;}
.flex-btw-vert {align-content: space-between;}
.flex-start-hz {justify-content: flex-start;}
.flex-start-vert {align-content: flex-start;}
.flex-center-hz {
  justify-content: center;
  align-items: center;
}
.flex-center-vert {align-content: center; align-items: center;}
.flex-end-vert {align-content: flex-end;}
.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.flex-nowrap img {
  max-width: auto;
}
img.left {
  margin: 5px 20px 5px 0px;
  height: 100%;
}
img.right {
  margin: 5px 0px 5px 20px;
  height: 100%;
}
.flex-wrap-row, .flex-wrap-col, .flex-nowrap {
  padding: 0;
  margin: 0;
  justify-self: stretch;
}
.flex-pad {padding: 10px 0;}

/* for image transparency */
.holo {
  opacity: 0.85;
}

/* anims */
.shake-hover a > img:hover {
  animation: shake 1.5s linear infinite;
  -moz-animation: shake 1.5s linear infinite;
  -webkit-animation: shake 1.5s linear infinite;
}
@keyframes glow-h {
  0%,
  100% {
    text-shadow: 0 0 0.3vw rgb(254, 243, 122, 0.4), 0 0 0.6vw rgb(254, 243, 122, 0.2), 0 0 1vw rgba(216, 205, 78, 0.4), 0 0 1vw rgb(254, 243, 122, 0.25), 0 0 .4vw rgba(255, 246, 150, 0.5), 0 0 .1vw rgba(155, 146, 46, 0.35);
    color: rgb(254, 243, 122, 0.85);
  }
  50% {
    text-shadow: 0 0 .5vw rgba(168, 159, 57, 0.65), 0 0 0.25vw rgb(168, 159, 57, 0.6), 0 0 1vw rgb(168, 159, 57, 0.5), 0 0 1vw rgb(168, 159, 57, 0.75), 0 0 .2vw rgb(168, 159, 57, 0.7), 0 0 .1vw rgba(149, 160, 34, 0.6);
    color: rgba(225, 216, 122, 0.9);
  }
}
@keyframes glow-hr {
  0%,
  100% {
    box-shadow: 0 0 10px 1px rgba(254, 243, 122, 0.3);
  }
  50% {
    box-shadow: 0 0 10px 1px rgba(254, 243, 122, 0.5);
  }
}
@keyframes glow-link {
  0%,
  100% {
    text-shadow: 0 0 .1vw rgb(90, 205, 185, 0.1), 0 0 .2vw rgb(90, 205, 185, 0.025), 0 0 0.2vw rgba(78, 216, 216, 0.2), 0 0 .3vw rgb(90, 205, 185, 0.15), 0 0 .1vw rgba(150, 251, 255, 0.2), 0 0 .1vw rgba(46, 141, 155, 0.25);
  }
  50% {
    text-shadow: 0 0 .15vw rgba(57, 168, 159, 0.3), 0 0 0.2vw rgb(57, 168, 159, 0.4), 0 0 0.3vw rgb(57, 168, 159, 0.25), 0 0 0.2vw rgb(57, 168, 159, 0.3), 0 0 .075vw rgb(57, 168, 159, 0.35), .02vw rgba(34, 160, 158, 0.4);
    color: rgba(90, 205, 185, 0.9);
  }
}
@keyframes glow-p {
  0%,
  100% {
    text-shadow: 0 0 .1vw rgb(254, 243, 122, 0.1), 0 0 .2vw rgb(254, 243, 122, 0.025), 0 0 0.2vw rgba(216, 205, 78, 0.2), 0 0 .3vw rgb(254, 243, 122, 0.15), 0 0 .1vw rgba(255, 246, 150, 0.2), 0 0 .1vw rgba(155, 146, 46, 0.25);
  }
  50% {
    text-shadow: 0 0 .15vw rgba(168, 159, 57, 0.3), 0 0 0.2vw rgb(168, 159, 57, 0.4), 0 0 0.3vw rgb(168, 159, 57, 0.25), 0 0 0.2vw rgb(168, 159, 57, 0.3), 0 0 .075vw rgb(168, 159, 57, 0.35), .02vw rgba(149, 160, 34, 0.4);
    color: rgba(254, 243, 122, 0.9);
  }
}
@keyframes glow-text {
  0%,
  100% {
    text-shadow: 0 0 0.3vw rgba(203, 243, 41, 0.5), 0 0 0.6vw rgb(203, 243, 41, 0.2), 0 0 1vw rgb(203, 243, 41, 0.5), 0 0 1vw rgb(203, 243, 41, 0.4), 0 0 .4vw rgb(177, 251, 91, 0.65), 0 0 .1vw rgb(67, 119, 7,0.4);
    color: rgb(203, 243, 41, 0.8);
    border-color: rgb(97, 232, 209);
  }
  50% {
    text-shadow: 0 0 .5vw rgba(85, 119, 7, 0.65), 0 0 0.25vw rgb(85, 119, 7, 0.6), 0 0 1vw rgb(85, 119, 7, 0.5), 0 0 1vw rgb(85, 119, 7, 0.75), 0 0 .2vw rgb(85, 119, 7, 0.7), 0 0 .1vw rgba(118, 160, 34, 0.6);
    color: rgba(183, 230, 28, 0.75);
    border-color: rgb(90, 205, 185, .85);
  }
}
@keyframes glow-text-blue {
  0%,
  100% {
    text-shadow: 0 0 0.3vw rgba(41, 243, 219, 0.5), 0 0 0.6vw rgb(41, 243, 219, 0.2), 0 0 1vw rgb(41, 243, 219, 0.5), 0 0 1vw rgb(41, 243, 219, 0.4), 0 0 .4vw rgba(91, 240, 251, 0.65), 0 0 .1vw rgba(7, 119, 113, 0.4);
    color: rgb(97, 232, 209, 0.8);
  }
  50% {
    text-shadow: 0 0 .5vw rgba(7, 119, 100, 0.65), 0 0 0.25vw rgba(7, 119, 100, 0.6), 0 0 1vw rgba(7, 119, 108, 0.5), 0 0 1vw rgba(7, 119, 119, 0.75), 0 0 .2vw rgba(7, 119, 100, 0.7), 0 0 .1vw rgba(34, 160, 147, 0.6);
    color: rgba(97, 232, 209, 0.75);
  }
}
@keyframes phase {
  0%, 
  100% {
    opacity: .7;
  }
  50% {
    opacity: 1;
  }
}

/* THE DROP OFF??? */
.badges img:hover {
  scale: 1.05;
  animation: phase 2s ease-in-out infinite;
}
a.small-link {
  font-family: 'sh-pinscher', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: var(--slugblue);
  animation: glow-text-blue 3s infinite;
  -moz-animation: glow-text-blue 3s  infinite;
  -webkit-animation: glow-text-blue 3s infinite;
  text-transform: uppercase;
  font-size: 1.25rem;
}