/* scanline overlay - s/o to kidwithtthechemicalz.neocities.org for pieces of this class! I love their website so much. */
body::before {
  content: "";
  background-image: url(img/bg-overlay-scan.png);
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .075;
  pointer-events: none;
}

.frame-main {
  width: 100%;
  padding: 0;
}

.frame-content {
  background-color: var(--slugblack);
  padding: 44px 42px 22px 45px;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
}

.frame-content a {
  font-family: 'sh-pinscher', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  color: var(--slugblue);
  animation: glow-link 5s infinite;
  -moz-animation: glow-link 5s  infinite;
  -webkit-animation: glow-link 5s infinite;
}

.frame-content a:hover {
  color: var(--sluggreen);
  animation: none;
  -moz-animation: none;
  -webkit-animation: none;
}

.frame-content h1, h2, h3, h4, h5, h6 {
  font-family: '04b', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--slugyellow);
  text-shadow: var(--slugyellow-sh) 2px 2px;
}

.frame-content h1 {
  font-size: 2.5rem;
}

.frame-content h1, h2, h3, h4, h5, h6 {
  animation: glow-h 3s infinite;
  -moz-animation: glow-h 3s  infinite;
  -webkit-animation: glow-h 3s infinite;
  padding: 0;
  margin: 0;
}

.frame-content h2, h3 {
  font-size: 2rem;
}

.frame-content h4, h5, h6 {
  font-size: 1.5rem;
}

.frame-content hr {
  border: outset 2px var(--slugyellow);
  animation: glow-hr 2.5s ease-in-out infinite;
  border-radius: 1px;
  opacity: .8;
  margin: 6px 0;
}

.frame-content p, article, section {
  font-family: 'sh-pinscher', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--slugyellow);
  font-size: 1.2rem;
  opacity: .9;
  padding: 5px 0px;
  animation: glow-p 3s infinite;
  -moz-animation: glow-p 3s  infinite;
  -webkit-animation: glow-p 3s infinite;
}

.frame-content ul, li {
  list-style-type: none;
  font-family: 'sh-pinscher', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--slugyellow);
  font-size: 1.2rem;
  opacity: .9;
  margin: 0 15px;
  animation: glow-p 3s infinite;
  -moz-animation: glow-p 3s  infinite;
  -webkit-animation: glow-p 3s infinite;
}

.last-update p {
  text-align: center;
  font-size: 1rem;
  color: var(--slugyellow-sh);
}

.frame-content > .flex-wrap p {
  text-align: justify;
}

.frame-content a.big {
  font-size: 2rem;
}

.center {
  text-align: center;
}

/* flexin' */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap hr {
  width: 100%;
}

.flex-even-vert {
  align-content: space-around;
}

.flex-around-hz {
  justify-content: space-around;
}

.flex-even-hz {
  justify-content: space-evenly;
}

.flex-btw-hz {
  justify-content: space-between;
}

.flex-center-vert {
  align-content: center;
  align-items: center;
}

.flex-center-hz {
  justify-content: center;
  justify-items: center;
}

.flex-mini-list {
  width: 50%;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.flex-nowrap img {
  max-width: 100%;
}

.flex-nowrap img.left {
  margin: 5px 10px 5px 0px;
}

.flex-nowrap img.right {
  margin: 5px 0px 5px 10px;
}

.flex-wrap, .flex-nowrap {
  padding: 5px 0;
  align-self: flex-start;
  align-self: stretch;
}

/* flex items */
.flex-update-h {
  order: 1;
  flex-basis: 50px;
  padding-right: 30px;
  align-self: flex-start;
}

.flex-update-p {
  order: 2;
  flex-grow: 2;
  align-self: flex-start;
}

/* anims */
@keyframes glow-h {
  0%,
  100% {
    text-shadow: 0 0 0.3vw rgb(254, 243, 122, 0.4), 0 0 0.6vw rgb(254, 243, 122, 0.2), 0 0 1vw rgba(216, 205, 78, 0.4), 0 0 1vw rgb(254, 243, 122, 0.25), 0 0 .4vw rgba(255, 246, 150, 0.5), 0 0 .1vw rgba(155, 146, 46, 0.35);
    color: rgb(254, 243, 122, 0.85);
  }
  50% {
    text-shadow: 0 0 .5vw rgba(168, 159, 57, 0.65), 0 0 0.25vw rgb(168, 159, 57, 0.6), 0 0 1vw rgb(168, 159, 57, 0.5), 0 0 1vw rgb(168, 159, 57, 0.75), 0 0 .2vw rgb(168, 159, 57, 0.7), 0 0 .1vw rgba(149, 160, 34, 0.6);
    color: rgba(225, 216, 122, 0.9);
  }
}

@keyframes glow-hr {
  0%,
  100% {
    box-shadow: 0 0 10px 1px rgba(254, 243, 122, 0.3);
  }
  50% {
    box-shadow: 0 0 10px 1px rgba(254, 243, 122, 0.5);
  }
}

@keyframes glow-link {
  0%,
  100% {
    text-shadow: 0 0 .1vw rgb(90, 205, 185, 0.1), 0 0 .2vw rgb(90, 205, 185, 0.025), 0 0 0.2vw rgba(78, 216, 216, 0.2), 0 0 .3vw rgb(90, 205, 185, 0.15), 0 0 .1vw rgba(150, 251, 255, 0.2), 0 0 .1vw rgba(46, 141, 155, 0.25);
  }
  50% {
    text-shadow: 0 0 .15vw rgba(57, 168, 159, 0.3), 0 0 0.2vw rgb(57, 168, 159, 0.4), 0 0 0.3vw rgb(57, 168, 159, 0.25), 0 0 0.2vw rgb(57, 168, 159, 0.3), 0 0 .075vw rgb(57, 168, 159, 0.35), .02vw rgba(34, 160, 158, 0.4);
    color: rgba(90, 205, 185, 0.9);
  }
}

@keyframes glow-p {
  0%,
  100% {
    text-shadow: 0 0 .1vw rgb(254, 243, 122, 0.1), 0 0 .2vw rgb(254, 243, 122, 0.025), 0 0 0.2vw rgba(216, 205, 78, 0.2), 0 0 .3vw rgb(254, 243, 122, 0.15), 0 0 .1vw rgba(255, 246, 150, 0.2), 0 0 .1vw rgba(155, 146, 46, 0.25);
  }
  50% {
    text-shadow: 0 0 .15vw rgba(168, 159, 57, 0.3), 0 0 0.2vw rgb(168, 159, 57, 0.4), 0 0 0.3vw rgb(168, 159, 57, 0.25), 0 0 0.2vw rgb(168, 159, 57, 0.3), 0 0 .075vw rgb(168, 159, 57, 0.35), .02vw rgba(149, 160, 34, 0.4);
    color: rgba(254, 243, 122, 0.9);
  }
}

@keyframes shake {
  0% {
      -webkit-transform: translate(2px, 1px) rotate(0deg);
 }
  10% {
      -webkit-transform: translate(-1px, -2px) rotate(-1deg);
 }
  20% {
      -webkit-transform: translate(-3px, 0px) rotate(1deg);
 }
  30% {
      -webkit-transform: translate(0px, 2px) rotate(0deg);
 }
  40% {
      -webkit-transform: translate(1px, -1px) rotate(1deg);
 }
  50% {
      -webkit-transform: translate(-1px, 2px) rotate(-1deg);
 }
  60% {
      -webkit-transform: translate(-3px, 1px) rotate(0deg);
 }
  70% {
      -webkit-transform: translate(2px, 1px) rotate(-1deg);
 }
  80% {
      -webkit-transform: translate(-1px, -1px) rotate(1deg);
 }
  90% {
      -webkit-transform: translate(2px, 2px) rotate(0deg);
 }
  100% {
      -webkit-transform: translate(1px, -2px) rotate(-1deg);
 }
}