@font-face {
  font-family: 'eurostile';
  src: url(fonts/eurostile-ext-bold.woff), url(fonts/eurostile-ext-bold.woff2);
}

@font-face {
  font-family: '04b';
  src: url(fonts/04b_08.woff), url(fonts/04b_08.woff2);
}

:root {
  --sluggreen: #b4eb00;
  --slugblack: #373737;
  --slugblue: #5acdb9;
  --slugyellow: #fff8a5;
  --screen: #353b2a;
  --sluggrey: #8c8988;
}

/* scrollbar */
* {
  box-sizing: border-box;
  scrollbar-color: var(--slugblue) #ababb5;
	}

::-webkit-scrollbar {
  background: #ababb5;
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #ababb5;
}

::-webkit-scrollbar-thumb {
		background: #ababb5;
		border-radius: 10px;
  
}

/* site-wide */
html, body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--slugblack);
  background-image: url(img/bg.png);
  background-repeat: repeat-y;
  background-size: 100vw;
  font-size: 1rem;
  font-family: monospace, system-ui, -apple-system;
}

h1, h2, h3, h4 {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* grid items */
.container {
  display: grid; 
  grid-template-columns: 2% 96% 2%; 
  grid-template-rows: 225px auto 40px; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". header ."
    ". main ."
    ". footer ."; 
  justify-content: stretch; 
  align-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  background-color: var(--sluggreen);
  justify-self: stretch; 
  align-self: stretch; 
  align-content: stretch;
  grid-area: header; 
  padding: 0 1rem;
}

.main {
  background-color: var(--slugyellow);
  justify-self: stretch; 
  align-self: stretch;
  align-content: center; 
  grid-area: main; 
  padding: 0.5rem 1rem;
  margin: 0;
  overflow-y: scroll;
}

.footer {
  background-color: var(--slugblue);
  justify-self: stretch; 
  align-self: stretch;
  justify-content: space-between;
  align-content: center;
  grid-area: footer; 
  display: flex;
  flex-flow: row wrap;
  padding: 0.5rem 1rem;
  height: 40px;
}

/* other classes */
.center {
  display: block;
  margin: auto;
  width: 50%;
}

.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.hframe {
  display: inline-block;
  background-image: url(img/svg/frame.svg);
  background-repeat: no-repeat;
  background-position: left;
  margin: 0;
}

.hframe h1, h2, h3, h4, h5 {
  margin-left: 0.5rem;
  padding: 2rem;
  color: var(--sluggreen);
  text-shadow: var(--sluggrey) 2px 2px;
}

/* animations */
.glow img {
    position:absolute;
    max-height:90%;
    top:50%;
    left:50%;
}

.noglow {
  z-index: 2;
}

.glowon {
  z-index:1;
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  filter: invert(1) hue-rotate(40deg) invert(1) blur(3px);
  -webkit-filter: invert(1) hue-rotate(40deg) invert(1) blur(3px);
  animation: glow 2.5s infinite;
}

@keyframes glow {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.shadow {
  background-color: black;
  position: absolute;
  height: 22px;
  width: 30%;
  border-radius: 60%;
  filter: blur(5px) opacity(.4);
}

.spin {
  position: absolute;
  opacity: 0.80;
  animation: rotatey 6.5s linear infinite;
}

.transparent {
  opacity: 0.8;
}

@keyframes rotatey {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);  }
  100% {
    transform: rotateX(0deg) rotateY(-360deg) rotateZ(0deg);
  }
}