@font-face {
  font-family: '04b';
  src: url(fonts/04b_08.woff);
}

@font-face {
  font-family: 'awful';
  src: url(fonts/awfullydigital.woff), url(fonts/awfullydigital.woff2);
}

:root {
  --sluggreen: rgb(180, 235, 0);
  --sluggreen-sh: rgb(126, 162, 8);
  --slugblack: rgb(55, 55, 55);
  --slugblue: rgb(90, 205, 185);
  --slugyellow: rgb(254, 243, 122);
  --sluggrey: rgb(118, 118, 118);
  --slugwhite: rgb(242, 242, 242);
  --slugtan: rgb(168, 153, 132);
}

/* CSS reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* scrollbar */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	}

::-webkit-scrollbar {
  display: none;
}

/* site-wide */
html, body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url(img/bg.png);
  background-size: 100vw;
  background-repeat: repeat-y;
  font-size: 1rem;
  font-family: monospace, system-ui, -apple-system;
  width: 100vw;
  height: 100vh;
  cursor: url('img/biohazard-red.cur'), auto;
}

a:hover, button:hover {
  cursor: url('img/biohazard-green.cur'), auto;
}

h1, h2, h3, h4 {
  font-size: 2rem;
  font-family: 'eurostile', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
}

/* grid items */
.container::before {
  content: "";
  background-image: url(img/interface.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 1449px 852px;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
}

.container {
  position: relative;
  display: grid; 
  grid-template-columns: 4% 91.5% 4.5%; 
  grid-template-rows: 21% 72% 7%; 
  gap: 0px 0px;
  grid-template-areas: 
    "header header header"
    "border-left main border-right"
    "footer footer footer"; 
  width: 1449px;
  height: 852px;
  padding: 0;
  margin: auto;
}

.header, .border-left, .border-right, .footer {
  z-index: 3;
  width: 100%;
  height: 100%;
}

.header {
  grid-area: header;
}

.border-left {
  grid-area: border-left;
}

.main {
  background-color: var(--slugblack);
  grid-area: main; 
  width: 100%; 
  height: 100%;
  z-index: 1;
  border-radius: 25px;
  overflow-y: scroll;
}

.main iframe {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 25px;
}

.border-right {
  grid-area: border-right;
}

.footer {
  grid-area: footer;
}

/* navbar */
.nav-logo {
  position: relative;
  top: 35%;
  left: 13.8%;
}

.nav-logo img, .nav-logo-under img {
  width: 8.25%;
}

.nav-logo-under {
  z-index: -1;
  position: relative;
  top: 4%;
  left: 13.8%;
}

#imood {
  position: relative;
  top: 11.4%;
  left: 14.5%;
  width: 7%;
}

#imood p {
  color: var(--sluggreen);
  text-align: center;
  font-size: 0.7rem;
}

#imood img {
  border: solid 1px var(--sluggreen-sh);
  margin: 5px 0 0 18px;
}

#imood img:hover {
  border: solid 1px var(--sluggreen);
  animation: glow-blur 1s linear infinite;
  -moz-animation: glow-blur 1s linear infinite;
  -webkit-animation: glow-blur 1s linear infinite;
}

#nav {
  z-index: 4;
  position: absolute;
  top: 7%;
  left: 23.3%;
  width: 35%;
  display: grid;
  grid-template-columns: 105px 105px 105px; 
  grid-template-rows: 32px 32px 32px 32px; 
  gap: 12px 15px;
  grid-template-areas: 
    "home about art"
    "blog graph link"
    "shrine tech misc"; 
}

#nav a {
  margin: 0;
  padding: 0;
}

#nav button {
  font-family: 'awful';
  font-size: 1.4rem;
  background-color: rgb(0, 0, 0, 0);
  color: rgba(180, 235, 0, .95);
  z-index: 5;
  width: 105px;
  height: 32px;
  line-height: 28px;
  border: groove 3px rgba(90, 205, 185, 0.7);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(115, 130, 7, .25);
}

#nav button:hover {
  border-color: rgba(86, 252, 224, 0.7);
  border-style: solid;
  color: rgba(255, 243, 110, 1);
  box-shadow: none;
  scale: 1.05;
  animation: glow 1s linear infinite;
  -moz-animation: glow 1s linear infinite;
  -webkit-animation: glow 1s linear infinite;
}

#bt-home {
  grid-area: home;
}

#bt-about {
  grid-area: about;
}

#bt-art {
  grid-area: art;
}

#bt-blog {
  grid-area: blog;
}

#bt-graph {
  grid-area: graph;
}

#bt-link {
  grid-area: link;
}

#bt-shrine {
  grid-area: shrine;
}

#bt-tech {
  grid-area: tech;
}

#bt-misc {
  grid-area: misc;
}

.artifacts {
  position: relative;
  top: -64%;
  left: 49%;
}

.artifacts, .artifacts-under img {
  width: 24.8%;
  height: auto;
}

.artifacts-under {
  z-index: -1;
  position: relative;
  top: -150%;
  left: 49%;
}

/* positions */
.center {
  display: block;
  margin: auto;
  width: 50%;
}

.mirror {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

/* animations */
.glow {
  z-index: 3;
  animation: glow 2.5s infinite;
  -moz-animation: glow 2.5s infinite;
  -webkit-animation: glow 2.5s infinite;
}

@keyframes glow {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
  }
}

.glow-blur {
  z-index: 2;
  filter: invert(1) hue-rotate(40deg) invert(1) blur(4px);
  -webkit-filter: invert(1) hue-rotate(40deg) invert(1) blur(4px);
  animation: glow-blur 4.5s infinite;
  -moz-animation: glow-blur 4.5s infinite;
  -webkit-animation: glow-blur 4.5s infinite;
}

@keyframes glow-blur {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: .75;
  }
  100% {
    opacity: 0.25;
  }
}

#nav button:focus {
  animation: glow-text 3s ease-in-out infinite;
  -moz-animation: glow-text 3s ease-in-out infinite;
  -webkit-animation: glow-text 3s ease-in-out infinite;
}

@keyframes glow-text {
  0%,
  100% {
    text-shadow: 0 0 0.3vw rgba(203, 243, 41, 0.5), 0 0 0.6vw rgb(203, 243, 41, 0.2), 0 0 1vw rgb(203, 243, 41, 0.5), 0 0 1vw rgb(203, 243, 41, 0.4), 0 0 .4vw rgb(177, 251, 91, 0.65), 0 0 .1vw rgb(67, 119, 7,0.4);
    color: rgb(203, 243, 41, 0.85);
    border-color: rgb(97, 232, 209);
  }
  50% {
    text-shadow: 0 0 .5vw rgba(85, 119, 7, 0.65), 0 0 0.25vw rgb(85, 119, 7, 0.6), 0 0 1vw rgb(85, 119, 7, 0.5), 0 0 1vw rgb(85, 119, 7, 0.75), 0 0 .2vw rgb(85, 119, 7, 0.7), 0 0 .1vw rgba(118, 160, 34, 0.6);
    color: rgba(183, 230, 28, 0.8);
    border-color: rgb(90, 205, 185, .85);
  }
}

.holo {
  opacity: 0.75;
}

.flicker {
  animation: flicker 1.2s linear 1;
  -moz-animation: flicker 1.2s linear 1;
  -webkit-animation: flicker 1.2s linear 1;
}

@keyframes flicker {
    0% {opacity: 0;}
    5% { opacity: .1;}
    15% { opacity: 0;}
    20% { opacity: .4;}
    25% { opacity: .2;}
    30%, 100% { opacity: 1;}
}

.float {
  animation: float 3s ease-in-out infinite;
  -moz-animation: float 3s ease-in-out infinite;
  -webkit-animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {transform: translateY(0px)};
  50% {transform: translateY(10px)};
  100% {transform: translateY(-0px)};
}

.shake {
  animation: shake 1s linear infinite;
  -moz-animation: shake 1s linear infinite;
  -webkit-animation: shake 1s linear infinite;
}

@keyframes shake {
  0% {
      -webkit-transform: translate(2px, 1px) rotate(0deg);
 }
  10% {
      -webkit-transform: translate(-1px, -2px) rotate(-1deg);
 }
  20% {
      -webkit-transform: translate(-3px, 0px) rotate(1deg);
 }
  30% {
      -webkit-transform: translate(0px, 2px) rotate(0deg);
 }
  40% {
      -webkit-transform: translate(1px, -1px) rotate(1deg);
 }
  50% {
      -webkit-transform: translate(-1px, 2px) rotate(-1deg);
 }
  60% {
      -webkit-transform: translate(-3px, 1px) rotate(0deg);
 }
  70% {
      -webkit-transform: translate(2px, 1px) rotate(-1deg);
 }
  80% {
      -webkit-transform: translate(-1px, -1px) rotate(1deg);
 }
  90% {
      -webkit-transform: translate(2px, 2px) rotate(0deg);
 }
  100% {
      -webkit-transform: translate(1px, -2px) rotate(-1deg);
 }
}

.spin {
  animation: rotateY 6.5s linear infinite;
  -moz-animation: rotateY 6.5s linear infinite;
  -webkit-animation: rotateY 6.5s linear infinite;
}

@keyframes rotateY {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);  }
  100% {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}

/* mobile stuff - not done yet */
@media (max-width: 600px) {
  .border-left, .border-right {
    display: none;
  }
  #nav {
    display:flex;
    flex-wrap: wrap;
    width: 100vw;
  }
  #wrapper {
    width: 100vw;
    height: 100vh;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .mobile-hide {
    display: none;
  }
}