/* WELCOME dear code viewer to Salty 3.0. I'm pretty proud of this one. This site actually has two stylesheets: one for the "home" page, and then another for the actual iFrame content. */

/* Declare fonts */
@font-face {
  font-family: '04b';
  src: url('fonts/04b_08.woff');
}

@font-face {
  font-family: 'awful';
  src: url('fonts/awfullydigital.woff'), url('fonts/awfullydigital.woff2');
}

@font-face {
  font-family: 'sh-pinscher';
  src: url('fonts/sh-pinscher.woff'), url('fonts/sh-pinscher.woff2');
}

/* Declare color variables */
:root {
  --sluggreen: rgb(184, 235, 0);
  --sluggreen-sh: rgb(137, 173, 18);
  --slugblack: rgb(55, 55, 55);
  --slugblue: rgb(90, 205, 185);
  --slugblue-sh: rgb(222, 123, 239);
  --slugyellow: rgb(254, 243, 122);
  --slugyellow-sh: rgb(189, 179, 59);
  --sluggrey: rgb(118, 118, 118);
  --slugwhite: rgb(242, 242, 242);
  --slugtan: rgb(168, 153, 132);
}

/* CSS reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar in all browsers. */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
	}

::-webkit-scrollbar {
  display: none;
}

/* HTML reset - to make sure no weird margins/padding throws the rest of this sheet off. */
html, body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100vw;
  height: 100vh;
}

/* Body styling - background and cursor */
body {
  background-image: url(img/bg.png);
  background-size: 100vw;
  background-repeat: repeat-y;
  font-size: 1rem;
  font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: url('img/biohazard-red.cur'), auto;
}

/* This wrapper holds the main container and makes sure it doesn't zoom off the screen */
#wrapper {
  display: flex;
  flex-flow: nowrap;
  align-content: center;
  height: 100vh;
  max-width: 100vw;
}

 /* This changes the cursor color when you hover over a link. */
a:hover, button:hover {
  cursor: url('img/biohazard-green.cur'), auto;
}

/* This container holds the cartoony frame of the website. It's purely decorative, so it doesn't need to have any functionality. The 'pointer-events' part is very important! */
.container-interface img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 1449px;
  max-height: 89.415%;
  max-width: 75.47%;
  height: 852px;
  margin: auto;
  pointer-events: none;
}

/* This is the grid container that frames the site content. I like to think of it as my modern rendition of a fixed width site but not quite :) */
.container {
  width: 75.47%;
  height: 92.71%;
  max-width: 1449px;
  max-height: 852px;
  display: grid; 
  grid-template-columns: 4% 91.5% 4.5%; 
  grid-template-rows: 21% 72% 7%; 
  gap: 0px 0px;
  grid-template-areas: 
    "header header header"
    "border-left main border-right"
    "footer footer footer"; 
  padding: 0;
  margin: auto;
}

.header, .border-left, .border-right, .footer {
  z-index: 3;
  width: 100%;
  height: 100%;
}

.header {
  grid-area: header;
}

.border-left {
  grid-area: border-left;
}

.main {
  grid-area: main; 
  z-index: 0;
  overflow-y: scroll;
}

.main iframe {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main, .main iframe {
  border-radius: 25px;
}

.border-right {
  grid-area: border-right;
}

.footer {
  grid-area: footer;
}

/* Header Contents */
.header > * {
  padding: 0; margin: 0;
}

.nav-logo {
  position: relative;
  top: 35.5%;
  left: 13.5%;
  right: 0;
  bottom: 0;
  width: 8.25%;
  opacity: 0.75;
}

.nav-logo:hover {
  animation: shake 1s linear infinite;
  -moz-animation: shake 1s linear infinite;
}

.imood {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 44%;
  left: 14.15%;
  right: 0;
  bottom: 0;
  width: 7%;
  height: 30%;
}

.imood p {
  color: var(--sluggreen);
  text-align: center;
  font-size: 0.7rem;
}

.imood img {
  border: solid 1px var(--sluggreen-sh);
  animation: glow 2.5s linear infinite;
  -moz-animation:  glow 2.5s linear infinite;
  -webkit-animation:  glow 2.5s linear infinite;
}

.imood img:hover {
  border: solid 1px var(--sluggreen);
  animation: glow-btn 1s linear infinite;
  -moz-animation: glow-btn 1s linear infinite;
  -webkit-animation: glow-btn 1s linear infinite;
}

/* All hail the almighty UB Funkey */
.border-right > .funky {
  position: relative;
  top: 32%;
  left: 5%;
  right: 0;
  bottom: 0;
  opacity: .65;
  animation: float 2s ease-in-out infinite;
  -moz-animation: float 2s ease-in-out infinite;
  -webkit-animation: float 2s ease-in-out infinite;
}

.funky img {
  width: 65%;
}

/* Declare Nav buttons grid */
#nav {
  z-index: 5;
  display: grid;
  position: relative;
  top: -30%; left: 23%; right: 0; bottom: 0;
  width: 115%;
  height: 110%;
  grid-template-columns: 6.5% 6.5% 6.5%; 
  grid-template-rows: 18% 18% 18%; 
  gap: 5% 0.5%;
  grid-template-areas: 
    "home about art"
    "blog graph link"
    "shrine tech misc";
  align-items: stretch;
}

#nav a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#nav button {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: '04b', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(213, 242, 50, 0.65);
  z-index: 5;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: groove 2px rgba(194, 255, 63, 0.5);
  border-radius: 3px;
  animation: glow-btn 3s ease-in-out infinite;
  -moz-animation: glow-btn 3s ease-in-out infinite;
  -webkit-animation: glow-btn 3s ease-in-out infinite;
}

#nav button:hover {
  border-color: rgba(86, 252, 224, 0.7);
  border-style: groove;
  color: rgba(230, 251, 111, 0.95);
  box-shadow: 0 0 15px 5px rgba(90, 255, 252, 0.65);
  animation: none;
  -webkit-animation: none;
  -moz-animation: none;
}

#nav button:focus {
  animation: glow-text 3s ease-in-out infinite;
  -moz-animation: glow-text 3s ease-in-out infinite;
  -webkit-animation: glow-text 3s ease-in-out infinite;
  box-shadow: 0 0 15px 5px rgba(90, 255, 252, 0.55);
}

#bt-home {
  grid-area: home;
}

#bt-about {
  grid-area: about;
}

#bt-art {
  grid-area: art;
}

#bt-blog {
  grid-area: blog;
}

#bt-graph {
  grid-area: graph;
}

#bt-link {
  grid-area: link;
}

#bt-shrine {
  grid-area: shrine;
}

#bt-tech {
  grid-area: tech;
}

#bt-misc {
  grid-area: misc;
}

/* Slug Artifacts */
.artifact-container {
  position: relative;
  width: 25%;
  top: -147%;
  left: 49%;
  right: 0;
  bottom: 0;
  opacity: .8;
  pointer-events: none;
}

.artifact {
  width: 100%;
}

/* translations */
.mirror {
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip {
  -ms-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

/* animations */
@keyframes glow {
  0% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.85;
  }
}

@keyframes glow-btn {
  0%,
  100% {
    color: rgba(213, 242, 50, 0.7);
    box-shadow: 1px 1px 10px 1px rgba(222, 247, 113, 0.15);
    border-color: rgba(194, 255, 63, 0.5);
  }
  50% {
    color: rgba(213, 242, 50, 0.9);
    box-shadow: 1px 1px 10px 1px rgba(168, 198, 60, 0.35);
    border-color: rgba(194, 255, 63, 0.75);
  }
}

@keyframes glow-text {
  0%,
  100% {
    text-shadow: 0 0 0.3vw rgba(203, 243, 41, 0.5), 0 0 0.6vw rgb(203, 243, 41, 0.2), 0 0 1vw rgb(203, 243, 41, 0.5), 0 0 1vw rgb(203, 243, 41, 0.4), 0 0 .4vw rgb(177, 251, 91, 0.65), 0 0 .1vw rgb(67, 119, 7,0.4);
    color: rgba(203, 243, 41, 0.8);
    border-color: rgb(97, 232, 209);
  }
  50% {
    text-shadow: 0 0 .5vw rgba(85, 119, 7, 0.65), 0 0 0.25vw rgb(85, 119, 7, 0.6), 0 0 1vw rgb(85, 119, 7, 0.5), 0 0 1vw rgb(85, 119, 7, 0.75), 0 0 .2vw rgb(85, 119, 7, 0.7), 0 0 .1vw rgba(118, 160, 34, 0.6);
    color: rgba(183, 230, 28, 0.75);
    border-color: rgba(90, 205, 185, .85);
  }
}

.flicker {
  animation: flicker 1.4 linear 1;
  -moz-animation: flicker 1.4s linear 1;
  -webkit-animation: flicker 1.4s linear 1;
}

@keyframes flicker {
    0% {opacity: 0;}
    5% {opacity: .1;}
    15% {opacity: 0;}
    20% {opacity: .4;}
    25% {opacity: .2;}
    30%, 100% {opacity: 1;}
}

.float {
  animation: float 3s ease-in-out infinite;
  -moz-animation: float 3s ease-in-out infinite;
  -webkit-animation: float 3s ease-in-out infinite;
  padding-top: 5px;
  padding-bottom: 5px;
}

@keyframes float {
  0% {transform: translateY(0px);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(-0px);}
}

.rotateY {
  animation: rotateY 8s linear infinite;
  -moz-animation: rotateY 8s linear infinite;
  -webkit-animation: rotateY 8s linear infinite;
}

@keyframes rotateY {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);  }
  100% {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
    -webkit-transform: translate(2px, 1px) rotate(0deg);
 }
  10% {
    transform: translate(-1px, -2px) rotate(0deg);
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
 }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
 }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
    -webkit-transform: translate(0px, 2px) rotate(0deg);
 }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
    -webkit-transform: translate(1px, -1px) rotate(1deg);
 }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
 }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
 }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
 }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
 }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  -webkit-transform: translate(2px, 2px) rotate(0deg);
 }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
 }
}

/* mobile stuff - not done yet */
@media (max-width: 600px) {
  .border-left, .border-right {
    display: none;
  }
  #nav {
    display:flex;
    flex-wrap: wrap;
    width: 100vw;
  }
  #wrapper {
    width: 100vw;
    height: 100vh;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .mobile-hide {
    display: none;
  }
}